@charset "UTF-8";

* {
    background-color: brown;
    background-image: url(/achiviments/images/julios.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}